<div class="row">
  <h2 class="text-center">Dashboard</h2>
  <div class="col-md-4">
    <h3>My books <%= link_to 'Add new book', new_book_path, class: "btn btn-success btn-sm"%></h3>
    <%= render 'books' %>
  </div>
  <div class="col-md-4">
    <h3>Purchased</h3>
    <%= render 'purchased' %>
  </div>
  <div class="col-md-4">
    <h3>Sales</h3>
    <%= render 'sold' %>
  </div>
</div>
