.welcome {
  /* background-color: #E6E2AF; */
  border: 3px solid #A7A37E;
}

body {
  background: image-url("library.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;

  background-color: #EFECCA;
}
